@import '../../main/assets/css/style.scss'; // ⚠️ make sure to import the CodyHouse framework
@import '../../main/assets/css/_base.scss';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600'); // custom font
@import '../../main/assets/css/base/_accessibility.scss';
@import '../../main/assets/css/base/_buttons.scss';
@import '../../main/assets/css/base/_forms.scss';
@import '../../main/assets/css/base/_icons.scss';
@import '../../main/assets/css/base/_reset.scss';
@import '../../main/assets/css/base/_spacing.scss';
@import '../../main/assets/css/base/_z-index.scss';
@import '../../main/assets/css/base/_breakpoints.scss';
@import '../../main/assets/css/base/_colors.scss';
@import '../../main/assets/css/base/_grid-layout.scss';
@import '../../main/assets/css/base/_mixins.scss'; 
@import '../../main/assets/css/base/_shared-styles.scss'; 
@import '../../main/assets/css/base/_visibility.scss'; 
@import '../../main/assets/css/components/_1_list.scss';
@import '../../main/assets/css/custom-style/_util.scss';
@import '../../main/assets/css/custom-style/_typography.scss';
@import '../../main/assets/css/custom-style/_shared-styles.scss';
@import '../../main/assets/css/custom-style/_colors.scss';
@import '../../main/assets/css/custom-style/_forms.scss';
@import '../../main/assets/css/custom-style/_icons.scss';
/*@import '../../main/assets/css/custom-style/_typography.scss';*/
@import '../../main/assets/css/custom-style/_spacing.scss';

// --------------------------------

// Schedule Template - by CodyHouse.co

// --------------------------------


:root {
  // colors
  @include defineColorHSL(--cd-color-event-1, 199, 25%, 46%);   // Smalt Blue
  @include defineColorHSL(--cd-color-event-2, 271, 23%, 26%);   // Martinique
  @include defineColorHSL(--cd-color-event-3, 50, 100%, 30%);   // Edward
  @include defineColorHSL(--cd-color-event-4, 0, 69%, 30%);    // Rajah
  @include defineColorHSL(--cd-color-event-5, 21, 92%, 38%);    // Rajah
  @include defineColorHSL(--cd-color-event-6, 81, 29%, 18%);    // Rajah
  @include defineColorHSL(--cd-color-text, 0, 0%, 13%);         // Black
  @include defineColorHSL(--cd-color-border, 0, 0%, 92%);       // Grey

  // font
  //--font-primary: 'Source Sans Pro', sans-serif;
  --font-primary: Montserrat, sans-serif;

  //schedule template
  --schedule-rows-number: 24;
  --schedule-rows-height: 80px;
}

body {
	color: var(--cd-color-text);
  font-family: Asap;
}

a {
	color: var(--cd-color-event-3);
}

.cd-schedule {
	position: relative;

	&::before { // never visible - this is used in js to check the current MQ
		content: 'mobile';
		display: none;
	}
  
  .js & {
  	@include breakpoint(md) {
      width: calc(100% - 2*var(--component-padding));
      margin-left: auto;
      margin-right: auto;
      max-width: var(--max-width-xl);

  		&::before {
  			content: 'desktop';
  		}
  	}
  }
}

.cd-schedule__timeline { // events time
	display: none;

  .js & {
  	@include breakpoint(md) {
  		display: block;
  		position: absolute;
  		top: 0;
  		left: 0;
  		height: 100%;
  		width: 100%;
  		padding-top: var(--schedule-rows-height);

  		li {
        list-style-type: none;
  			position: relative;
  			height: var(--schedule-rows-height);
        font-family: Montserrat, sans-serif;
        font-size: var(--text-xs);


  			&::after { // this is used to create the table horizontal lines
  				content: '';
  				position: absolute;
  				bottom: 0;
  				left: 0;
  				width: 100%;
  				height: 1px;
  				background: var(--cd-color-border);
  			}

  			&:last-of-type::after {
  				display: none;
  			}

  			span {
  				display: none;
  			}
  		}
  	}

  	@include breakpoint(lg) {
  		li {
        list-style-type: none;
  			&::after {
  				width: calc(100% - 60px);
  				left: 60px;
  			}

  			span {
  				display: inline-block;
  				transform: translateY(-50%);
          font-size: var(--text-xs);
  			}

  			&:nth-of-type(2n) span {
  				display: none;
  			}
  		}
  	}
  }
}

.cd-schedule__events {
	position: relative;
	z-index: 8;
  
  .js & {
  	@include breakpoint(md) {
  		width: 100%;

      > ul {
        list-style-type: none;
        display: flex;
        flex-wrap: nowrap;
      }
  	}

  	@include breakpoint(lg) {
  		width: calc(100% - 60px); // 60px is the .cd-schedule__timeline > li::after element left
  		margin-left: 60px;
  	}
  }
}

.cd-schedule__group { // group of same day events
  margin-bottom: var(--space-lg);
  
  .js & {
    @include breakpoint(md) {
      flex-basis: 0;
      flex-grow: 1;
      border: 1px solid var(--cd-color-border);
      margin-bottom: 0; // reset style

      &:not(:first-of-type) {
        border-left-width: 0;
      }
    }
  }
}

.cd-schedule__group > ul {
  position: relative;
  padding: 0 var(--component-padding);
  display: flex;
  overflow-x: scroll;
  list-style-type: none;

  -webkit-overflow-scrolling: touch;

  &::after { // never visible - used to add a right padding to .cd-schedule__group > ul
    display: inline-block;
    content: '-';
    width: 1px;
    height: 100%;
    opacity: 0;
    color: transparent;
  }
  
  .js & {
    @include breakpoint(md) {
      height: calc(var(--schedule-rows-height)*var(--schedule-rows-number));
      overflow: visible;
      padding: 0;

      &::after { // reset style
        display: none;
      }
    }
  }
}

.cd-schedule__top-info { // day label
  width: 100%;
  padding: 0 var(--component-padding);
  background: #f3f3f3;
  font-family: Montserrat, sans-serif;


  > span {
    display: inline-block;
    margin-bottom: var(--space-sm);
    font-weight: 550;
    font-family: Montserrat, sans-serif;
  }
  
  .js & {
    @include breakpoint(md) {
      // vertically center its content
      display: flex;
      align-items: center;
      justify-content: center;
      height: var(--schedule-rows-height);
      border-bottom: 1px solid var(--cd-color-border);
      padding: 0; // reset style

      > span {
        font-weight: normal;
        font-size: var(--text-sm);
        margin-bottom: 0;
        font-weight: 550;
      } 
    }
  }
}

.cd-schedule__event {
  flex-shrink: 0; // force them to stay on one line
  float: left; // flex fallback
  height: 150px;
  width: 70%;
  max-width: 300px;
  margin-right: var(--space-md);
  transition: opacity .2s, background .2s;
  
  a {
    display: block;
    height: 100%;
    padding: var(--space-sm);
    box-shadow: inset 0 -3px 0 rgba(#000, .2);
    text-decoration: none;
  }

  a::before { // event start/end date
    content: attr(data-start)' - 'attr(data-end);
  }
  
  .js & {
    @include breakpoint(sm) {
      width: 40%;
    }

    @include breakpoint(md) {
      position: absolute;
      z-index: 8;
      width: calc(100% + 2px); // top position and height will be set using js
      left: -1px;
      max-width: none; // reset style
      margin-right: 0;

      a {
        padding: var(--space-sm);
        box-shadow: 0 10px 20px rgba(#000, .1), inset 0 -3px 0 rgba(#000, .2);
      }
    }
  }
}

.js {
  @include breakpoint(md) {
    .cd-schedule__event--selected { // classes added when an user select the event
      visibility: hidden;
    }

    .cd-schedule--loading .cd-schedule__event {
    	// the class .cd-schedule--loading is added by default to the .cd-schedule element
    	// it is removed as soon as the single events are placed in the schedule plan (using javascript)
    	opacity: 0;
    }
  }
}

.cd-schedule__name, // event name in the schedule template
.cd-schedule__event a::before, // event date in the schedule template
.cd-schedule-modal__name, // event name in the modal element
.cd-schedule-modal__date { // event date in the modal element
	display: block;
	color: var(--color-white);
	font-weight: bold;
  font-style: normal;
  font-family: Montserrat, sans-serif;
	@include fontSmooth;
}

.cd-schedule__name,
.cd-schedule-modal__name {
	/*font-size: var(--text-lg);*/
  font-style: normal;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  @include fontSmooth;

  @include breakpoint(md) {
    font-size: calc(var(--text-sm)*1.1);
  }
}

.item {
    vertical-align: top;
    display: inline-block;
    /* text-align: center; */
    width: 46%;
    /* height: 46%; */
    /* padding-left: 2px; */
    /* padding-right: 2px; */
    margin-right: 4px;
    margin: 2px;
    padding-bottom: 100px;
    font-style: normal;
    position: relative;
    font-weight: 550;
    color: #cccccc;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: calc(var(--text-sm)*0.8);
    transition: 0.1s;
}

.item:hover .caption {
    opacity: 1;
}

.item:hover .subcaption {
    opacity: 1;
}

.item:hover .cd-schedule-modal__img {
    opacity: 0.3;
}

.caption {
    position: absolute;
    display: inline-block;
    /* top: 70px; */
    left: 5%;
    bottom: 0%;
    padding-bottom: 45%;
    width: 100%;
    height: 0;
    font-size: calc(var(--text-sm)*0.8);
    color: black;
    opacity: 0;
    transition: 0.1s;
}

.subcaption {
    position: absolute;
    display: inline-block;
    /* top: 70px; */
    left: 5%;
    bottom: 0%;
    padding-bottom: 25%;
    width: 100%;
    height: 0;
    font-size: calc(var(--text-xs)*0.7);
    color: black;
    opacity: 0;
    transition: 0.1s;
}

.cd-schedule-modal__img {
    position: absolute;
    bottom: 0px;
    display: inline-block;
    border-radius: 15%;
    height: auto;
    width: 100%;
    border: 0px;
    padding: 0px;
    margin-top: auto;
    margin-bottom: 0;
    /* margin: 5px 0 0px 0 !important; */
    box-shadow: none !important;
    transition: 0.1s;
}

.cd-schedule-modal__speaker_info{
    width: auto;
    /* height: 0; */
    padding-top: 5%;
}


.cd-schedule-modal__info {
  display: block;
  /*font-size: var(--text-lg);*/
  font-style: normal;
  font-weight: 550;
  color: #cccccc;
  font-family: Montserrat, sans-serif;
  @include fontSmooth;

  @include breakpoint(md) {
    font-size: calc(var(--text-sm)*1.0);
  }
}

.cd-schedule-modal__date, // not included in the the HTML but added using JavScript
.cd-schedule__event a::before { 
	opacity: .7;
	margin-bottom: var(--space-xxxs);

  @include breakpoint(md) {
    font-size: calc(var(--text-xs)*1.05);
    margin-bottom: var(--space-xxxxs);
  }
}

.cd-schedule__event [data-event="event-1"],
.cd-schedule-modal[data-event="event-1"] .cd-schedule-modal__header-bg {
	// this is used to set a background color for the event and the modal window
	background: var(--cd-color-event-1);
}

.cd-schedule__event [data-event="event-2"],
.cd-schedule-modal[data-event="event-2"] .cd-schedule-modal__header-bg {
	background: var(--cd-color-event-2);
}

.cd-schedule__event [data-event="event-3"],
.cd-schedule-modal[data-event="event-3"] .cd-schedule-modal__header-bg {
	background: var(--cd-color-event-3);
}

.cd-schedule__event [data-event="event-4"],
.cd-schedule-modal[data-event="event-4"] .cd-schedule-modal__header-bg {
	background: var(--cd-color-event-4);
}

.cd-schedule__event [data-event="event-5"],
.cd-schedule-modal[data-event="event-5"] .cd-schedule-modal__header-bg {
  background: var(--cd-color-event-5);
}

.cd-schedule__event [data-event="event-6"],
.cd-schedule-modal[data-event="event-6"] .cd-schedule-modal__header-bg {
  background: var(--cd-color-event-6);
}

.cd-schedule__event [data-event="event-7"],
.cd-schedule-modal[data-event="event-7"] .cd-schedule-modal__header-bg {
  /*background: repeating-linear-gradient(
  45deg,
  #9a9a9c,
  #9a9a9c 10px,
  #c2c2c4 10px,
  #c2c2c4 20px
);*/
background: lightgray;
/*opacity: 0.5;*/
/*background: var(--cd-color-event-5);*/
}


.cd-schedule-modal {
	position: fixed;
	z-index: 8;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	transform: translateZ(0); // Force Hardware acceleration

	transform: translateX(100%);
	transition: transform .4s, visibility .4s;
	transition-timing-function: cubic-bezier(.5,0,.1,1);

	@include breakpoint(md) {
		// reset style
		right: auto;
		width: auto;
		height: auto;
		transform: translateX(0);
		will-change: transform, width, height;
		transition: height .4s, width .4s, transform .4s, visibility .4s;
		transition-timing-function: cubic-bezier(.5,0,.1,1);
	}
}

.cd-schedule-modal__header {
  position: relative;
  height: 70px;
  display: flex;
  align-content: center;
  width: 100%;

  @include breakpoint(md) {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.cd-schedule-modal__content {
  position: relative;
  z-index: 8;
  display: flex;
  align-items: center;
  padding: var(--space-sm) var(--component-padding);

  @include breakpoint(md) {
    // reset style
    display: block;
    padding: var(--space-sm);
  }
}

.cd-schedule-modal__body {
  position: relative;
  width: 100%;
  height: calc(100% - 70px); // 70px is the .cd-schedule-modal__header height

  @include breakpoint(md) {
    height: 100%;
    width: auto;
  }
}

.cd-schedule-modal__event-info {
  position: relative;
  z-index: 7;
  line-height: var(--body-line-height);
  height: 100%;
  overflow: hidden;
  font-size: calc(var(--text-sm) * 1.2);

  > div {
    overflow: auto;
    height: 100%;
    padding: var(--space-md) var(--component-padding);
  }

  @include breakpoint(md) {
    opacity: 0;
    font-size: var(--text-sm);

    > div {
      padding: calc(var(--space-md)*1.3) calc(var(--space-lg)*1.2) calc(var(--space-md)*1.3) calc(var(--space-md)*1.3);
    }
  }
}

.cd-schedule-modal__header-bg, 
.cd-schedule-modal__body-bg { // these are the morphing backgrounds - visible on desktop only
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
  @include breakpoint(md) {
    // Force Hardware acceleration
    transform: translateZ(0);
    will-change: transform;
    backface-visibility: hidden;
  }
}

.cd-schedule-modal__header-bg {
  z-index: 7;
  transform-origin: top center;
  
  @include breakpoint(md) {
    transition: transform .4s;
    transition-timing-function: cubic-bezier(.5,0,.1,1);
  }
}

.cd-schedule-modal__body-bg {
  z-index: 6;
  background: var(--color-white);
  transform-origin: top left;

  @include breakpoint(md) {
    opacity: 0;
    transform: none;
  }
}

.cd-schedule-modal--no-transition {
  transition: none;

  .cd-schedule-modal__header-bg, 
  .cd-schedule-modal__body-bg {
    transition: none !important;
  }
}

.cd-schedule-modal__date {
  display: none;

  @include breakpoint(md) {
    display: block;
  }
}

.cd-schedule-modal__name {
  display: none;

  @include breakpoint(md) {
    display: block;
  }
}

.cd-schedule-modal__info {
  display: none;

  @include breakpoint(md) {
    display: block;
  }
}

.cd-schedule-modal__close { // close modal icon
  position: absolute;
  z-index: 8;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
  background: alpha(var(--color-black), .1);

  &::before, &::after { // these are the two lines of the 'X' icon
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 22px;
    background: var(--color-white);
    backface-visibility: hidden;
  }

  &::before {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }

  &::after {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }

  @include breakpoint(md) {
    width: 40px;
    height: 40px;
    background: transparent;
    opacity: 0;

    &::after, &::before {
      background: var(--cd-color-text);
      height: 16px;
    }
  }
}

.cd-schedule-modal--open { // this class is added as soon as an event is selected
	transform: translateX(0);
	visibility: visible;
  z-index: 10;

	.cd-schedule-modal__event-info > div { // smooth scroll on iOS touch deviceS
		-webkit-overflow-scrolling: touch;
	}
}

@include breakpoint(md) {
	.cd-schedule-modal--animation-completed  .cd-schedule-modal__close,
	.cd-schedule-modal--content-loaded.cd-schedule-modal--animation-completed  .cd-schedule-modal__event-info {
		// 	the .cd-schedule-modal--animation-completed class is added when the modal animation is completed
		//	the .cd-schedule-modal--content-loaded class is added when the modal content has been loaded (using ajax)
		opacity: 1;
		transition: opacity .2s;
	}

	.cd-schedule-modal--open .cd-schedule-modal__body-bg {
		opacity: 1;
		transition: transform .4s;
		transition-timing-function: cubic-bezier(.5,0,.1,1);
	}
}

.cd-schedule__cover-layer { // layer between the content and the modal window
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: alpha(var(--color-black), 0.8);
	opacity: 0.5;
	visibility: hidden;
	transition: opacity .4s, visibility .4s;
}

.cd-schedule-modal--open + .cd-schedule__cover-layer {
	opacity: 0.5;
	visibility: visible;
}

//demo style
.cd-main-header h1 {
  color: var(--cd-color-text);
  font-weight: 700;
}

.cd-article-link {
  font-size: var(--text-sm);
  transition: opacity .2s;

  &:hover {
    opacity: 0.8;
  }
}

.userpicture-text {
    border-radius: 0 !important;
}
.userpicture .userpicture-text {
    align-items: center;
    background-color: hsla(0,0%,71%,.3);
    display: flex;
    font-size: 2.2rem;
    font-weight: 300;
    justify-content: center;
    overflow: hidden;
    padding: 0 10px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.userpicture .userpicture-photo, .userpicture .userpicture-text {
    border-radius: 50%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.userpictureimg {
    border-radius: 0 !important;
    height: 100%;
    width: 100%;
    overflow: visible !important;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.userpicture {
    border-radius: 50%;
    height: 120px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    width: 120px;
}

.userpicture img.userpicture-photo {
    -o-object-fit: cover;
    object-fit: cover;
}

.userpicture .userpicture-photo, .userpicture .userpicture-text {
    border-radius: 50%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.bloc-pic {
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-height: 230px;
    height: 100%;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding: 20px;
    transition: all .1s ease;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -o-transition: all .1s ease;
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg,#F7D700, #FF5900, #F5255D);
    border-image-slice: 1;
}


.box {
  float: left;
  height: 20px;
  width: 60px;
  margin-bottom: 15px;
  border: 0px solid black;
  clear: both;
  /*box-shadow: 0 10px 20px rgb(0 0 0 / 10%), inset 0 -3px 0 rgb(0 0 0 / 20%);*/

}

.event-1 {
  background: var(--cd-color-event-1);
}

.event-2 {
  background: var(--cd-color-event-2);
}

.event-3 {
  background: var(--cd-color-event-3);
}

.event-4 {
  background: var(--cd-color-event-4);
}

.event-5 {
  background: var(--cd-color-event-5);
}

.event-6 {
  background: var(--cd-color-event-6);
}

.event-7 {
  background: repeating-linear-gradient(52deg,#9a9a9c26,#9a9a9c26 12px,#c2c2c426 12px,#c2c2c426 24px);
}

.column {
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}