---
---

@import "{{ site.theme }}";

#header_wrap {
  background: url('/images/bg-with-ESMRMB.svg') #f2f2f2 no-repeat center top;
}

#forkme_banner {
  background: url('../images/blacktocat.png') #167CA8 no-repeat 95% 50%;
}

#project_title {
  color: #5e6061;
  text-shadow: #aaa 0px 0px 10px;
}

#project_tagline {
  color: #5e6061;
  text-shadow: #aaa 0px 0px 10px;
}

#main_content_wrap {
  border-top: 0px;
}

body {
    background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #5e6061;
}

#nav-menu {
  display: flex;
  padding: 5px;
}

.menu-item {
  padding: 5px;
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
}
