<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <script src="https://kit.fontawesome.com/621c4d47d6.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="/assets/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/slick/slick-theme.css"/>
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js"></script> -->
    <script type="text/javascript" src="/assets/slick/slick.min.js"></script>
    <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
    <script type="text/javascript" src="/assets/js/dropdown.js"></script>

    <style>
    .tablelines table, .tablelines td, .tablelines th {
            border: 1px solid black;
            }
    </style>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

{% seo %}
    
  {% for ext_js_url in page.external_javascript %}
    <script src="{{ ext_js_url }}"></script>
  {% endfor %}
    
  {% for js in page.javascript %}
    <script language="javascript" type="text/javascript">
    {% include {{ js }} %}
    </script>
  {% endfor %}
  
  {% for ext_css_url in page.external_css %}
    <link rel="stylesheet" type="text/css" href="{{ ext_css_url }}"/>
  {% endfor %}

  {% if site.google_analytics %}
      <!-- <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script> -->
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics}}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{site.google_analytics}}');
      </script>

  {% endif %}
  
  </head>
  <body>
<div id="page_container">
  <div class="esmrmb-login">
      <div class="et_pb_row">
        <div class="esmrmb-social">
          <a class="esmrmb-fb" href="mailto:{{ site.email | mailObfuscate }}" target="_blank"><i class="fa fa-envelope"></i></a>
          <a class="esmrmb-fb" href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fab fa-twitter"></i></a>
          <a class="esmrmb-fb" href="https://www.youtube.com/{{site.youtube}}" target="_blank"><i class="fab fa-youtube"></i></a>
          <a class="esmrmb-fb" href="https://www.linkedin.com/{{site.linkedin}}"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
  </div>
  
  {% assign year = page.year | default: 2023 %}
  
 {% assign preamble_file = "preamble" %}
  
  <header id="main-header" data-height-onload="203" data-height-loaded="true" data-fixed-height-onload="203">
    <div class="et_menu_container">
      {% include {{ preamble_file | append: year | append: ".html" }} %}
      <div class="logo_container">
        <span class="logo_helper"></span>
        <a href="https://www.esmrmb.org/">
          <img src="/images/esmrmb_logo.png" alt="ESMRMB" id="logo" data-height-percentage="100" data-actual-width="200" data-actual-height="95" style="-webkit-box-shadow: 0 0 5px #ebebeb;">
        </a>
      </div>
    <div style="padding-top: 40px">
    <a href="/"><h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1></a>
          <h2 id="project_tagline" style="margin-bottom: 0px;">
          {{ site.description | default: site.github.project_tagline }}</h2>
      </div>
  </header>
  
 {% assign menu_file = "menu" %}
  
 {% include {{ menu_file | append: year | append: ".html" }} %}
  
    
    <div id="sticky_line" class="line"></div>
    {% unless page.title == "MRI Together" %}
    <div id="sticky_title">
            <section id="title" class="inner" style="padding: 19px 0 9px 0!important; margin-left: 0%;
          background-position: center;overflow: hidden;border-bottom: 2px solid #5DC7D7;">
          <div id="main_content_wrap" class="outer" style="min-height: 0px"><h1 >{{page.title}}</h1></div>
        </section>
      </div>
            {% endunless %}
  {% if page.title == "MRI Together" %}
  <div id="sticky_slideshow">
  <div class="slideshow-container">
    <div class="mySlides">
      <div class="text">

        <h1 style="color:black; font-size=300%">6-8 December 2023</h1>
        
        <a href="https://www.youtube.com/playlist?list=PLeDygc8TN_J65c0jM0ms__diTMylbEk9l"><button class="shadow_button" type="button" >Videos of recordings now available!</button></a>

        </div>
    </div>
    <!--
    <div class="mySlides">
      <div class="text">
        <h1>1000 confirmed speakers!</h1>
      </div>
    </div>
    -->
    <!-- <div class="mySlides" style="display: flex;justify-content: center;bottom: -15%;position: relative;">
      <img src="/images/slideshow_date.png" style="margin-top: 23px;height:280px;width: auto;box-shadow:none;border: none;max-width: none;">
    </div> -->

</div>
</div>
</div>
{% endif %}
<!-- MAIN CONTENT -->
<div id="sticky_body">
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner" style="padding-top: 0px; margin-left: 0%;
    padding-left: 0px;background-position: center;overflow: hidden;">
        {{ content }}
      </section>
    </div>
  <footer class="site-footer" id="footer">
    <div class="footer-container"  style="position: relative;">
      <!-- <div class="row"> -->
        <!-- <div class="col-md-8 col-sm-6 col-xs-12"> -->
          <div class="copyright-text" style="position: absolute; right: 0; padding-top: 10px"><a href="https://creativecommons.org/licenses/by/4.0/"><i class="fab fa-creative-commons  fa-lg"></i><i class="fab fa-creative-commons-by   fa-lg"></i></i></a><a> MRI Together </a><a href="https://www.esmrmb.org/working-groups/">Working Group</a><a> &#8212; powered by </a><a href="https://github.com/mritogether/"><i class="fab fa-github fa-lg"></i></a>
          <!--</div>
          <div id="bottom-img" style="position: absolute;"><img src="/images/people.png" style="-webkit-box-shadow: none; border: none; left: -90px; bottom: 55px; width: 360px;">
          </div> -->
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </footer>
</div>

  <script src="/assets/js/sticky.js"></script>
  <script type="text/javascript">
  
    function findPageName(url) {
      const lastSlash = url.lastIndexOf('/');
      if (lastSlash == -1)
      {
        return '/' + url;
      }
      return url.substring(lastSlash);
    }
  
    $(document).ready(function(){
      $('.slideshow-container').slick({
        autoplay: true,
        autoplaySpeed: 5000,
        dots: true,
        fade: false,
        accessibility: false,
        cssEase: 'linear',
        arrows: false,
        // dotsClass: "dots",
        // arrows: false,
        // nextArrow: '<button type="button" class="slick-next slick-arrow" style="right: 0px;">Next</button>',
        // prevArrow: '<button type="button" class="slick-prev slick-arrow" style="left: 0px;">Prev</button>',
      });
      
      const currentPage = findPageName(window.location.href);
      
      $("#menu-list a").each(function() {
        if (findPageName($(this).attr("href")) === currentPage) {
          $(this).parent().addClass("menu-item_selected");
        }
      });
      
      
    
      // $('#nav-menu div').click(function(e) {
      //     $('#nav-menu div').removeClass('current_page_item');
      //     $(this).addClass('current_page_item');
      // });

    });
  </script>

  <script type="text/javascript">
    var exampleCallback = function() {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '395763528367',
        modal: true,
        modalTriggerElementId: 'eventbrite-widget-modal-trigger-395763528367',
        onOrderComplete: exampleCallback
    });
</script>

  </body>
</html>
